:host {
  display: flex;
  justify-content: center;
  height: 88%;
  align-items: center;
}

.login-card {
  padding: 10px 0px;
  border-radius: 10px;
  max-width: 320px;
}

.app-logo {
  max-width: 300px;
}

.card-divider {
  margin: 10px 0px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%;
  max-width: 300px;
}

.center {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.login-button {
  // background-color: #3ace80;
  border-radius: 10px;
  // color: white;
  min-width: 300px;
}
