<mat-toolbar color="primary">
  <img class="app-logo" src="assets/img/logos/logo-branco.png" alt="Logo Engetec">
  <span class="spacer"></span>
  <div *ngIf="!isLogged()">
    <span class="nav-tool-items">
      <a mat-button routerLink="login" routerLinkActive="active">Entrar</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Cadastrar</a>
    </span>
  </div>
  <div *ngIf="isLogged()">
    <mat-icon class="icon" aria-hidden="false" aria-label="Logout">logout</mat-icon>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
