:host {
  display: flex;
  justify-content: center;
  height: 88%;
  align-items: center;
}

.message-card {
  padding: 10px 0px;
  border-radius: 10px;
  max-width: 30%;
}

.app-logo {
  width: 100%;
  max-width: 450px;
}

.card-divider {
  margin: 10px 0px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}

.ok-button {
  // background-color: #3ace80;
  border-radius: 10px;
  // color: white;
  min-width: 100%;
}
