<mat-card>
  <mat-card-header>
    <mat-card-title>Enviar Artigo</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="artigoForm">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix class="form-icon">title</mat-icon>
          <mat-label class="label">Título</mat-label>
          <input autofocus matInput formControlName="title" placeholder="Ex: Internet das coisas e seu impacto atual" required>
          <mat-error *ngIf="artigoForm.controls['title']?.hasError('required')">Digite o título</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-icon matPrefix class="form-icon">vpn_key</mat-icon>
          <mat-label class="label">Palavras-chave</mat-label>
          <input matInput formControlName="keywords" placeholder="Ex: IoT, Teecnologia, Cloud" required>
          <mat-error *ngIf="artigoForm.controls['title']?.hasError('required')">Digite as palavras-chave</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-icon matPrefix class="form-icon">group</mat-icon>
          <mat-label class="label">Integrantes</mat-label>
          <input matInput formControlName="group" placeholder="Ex: Breno, Gilberto, Lucas" required>
          <mat-error *ngIf="artigoForm.controls['group']?.hasError('required')">Digite os integrantes</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-icon matPrefix class="form-icon">assignment</mat-icon>
          <mat-label>Áreas</mat-label>
          <mat-select formControlName="areas" required>
            <mat-option *ngFor="let area of areas" value="{{area.id}}">{{area.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="artigoForm.controls['areas']?.hasError('required')">Selecione no mínimo uma área</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-icon matPrefix class="form-icon">attach_file</mat-icon>
          <ngx-mat-file-input #artigo formControlName="artigo" [accept]="'.docx'" (input)="onFileInput()" required></ngx-mat-file-input>
          <mat-label>Insira seu artigo (.docx)</mat-label>
          <button mat-icon-button matSuffix *ngIf="!artigo.empty" (click)="artigo.clear($event)">
            <mat-icon>clear</mat-icon>
          </button>
          <mat-error *ngIf="artigoForm.controls['artigo']?.hasError('required')">Insira seu artigo</mat-error>
          <mat-error *ngIf="artigoForm.controls['artigo']?.hasError('invalid')">Insira o formato correto! (.docx)</mat-error>
          <mat-error *ngIf="artigoForm.controls['artigo']?.hasError('maxContentSize')">O arquivo deve conter no máximo {{MB}} MB</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions align="end">
    <button mat-button (click)="enviar()" class="col-1 button">Enviar</button>
  </mat-card-actions>
</mat-card>
